{% extends "base.html.twig" %}

{% block title %}Liste des emplacements{% endblock title %}

{% block body %}

<div class="container mt-5">
    <div class="text-center mt-5">
        <a href="{{path('emplacement_creer')}}" class="btn btn-success">Nouvel emplacement</a>  
    </div>
    <div class="table-responsive">
    <table id="table_emplacement" class="table-bordered table-striped">
        <thead>
            <tr style="background-color: #a1d3ed">
                <th>Id</th>
                <th>Nom</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>

        {% for emplacement in emplacements %}
            
        <tr>
            <th>{{emplacement.id}}</th>
            <th>{{emplacement.nom}}</th>
            <th><a href="{{path('emplacement_editer', {'id': emplacement.id}) }}"><i class="fas fa-wrench"></i></a></th>
            <th><a data-toggle="modal"   data-target="#supprimer-{{ emplacement.id }}"><i class="fas fa-trash-alt"></i></a></th>
        </tr>
        <div class="modal fade" id="supprimer-{{ emplacement.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Suppression d'un élément</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Voulez vous supprimer cet élément ?</p> 
                </div>
                <div class="modal-footer">
                    <a  type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</a>
                    <a href="{{path('emplacement_supprimer', {'id': emplacement.id}) }}" type="button" class="btn btn-primary">Confirmer</a>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </table>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready( function () {
        $('#table_emplacement').DataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            }
        });
    } );
</script>
{% endblock body %}