{% extends "base.html.twig" %}

{% block title %}Création d'une machine{% endblock title %}

{% form_theme form _self %}

{% block body %}

<div class="container">
    <h1 class="text-center my-5">Créer une nouvelle machine</h1>

    {{form_start(form)}}

    <div class="row">
        <div class="col">
            <div class="alert alert-light">
                {{form_row(form.id)}}
                {{form_row(form.serial)}}
                {{form_row(form.commentaire)}}
                {{form_row(form.ip)}}
            </div>
        </div>
        <div class="col">
            <div class="alert alert-light">
                {{form_row(form.categorie)}}
                {{form_row(form.etat)}}
                {{form_row(form.modele)}}
                {{form_row(form.emplacement)}}
                {{form_row(form.version)}}
           </div>
        </div>
    </div>
      
    {{form_widget(form)}}
    
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
    {{form_end(form)}}
</div>
    
{% endblock body %}


