{% extends "base.html.twig" %}

{% block title %}Création d'un périphérique{% endblock title %}


{% block body %}

<div class="container">
    <h1 class="text-center">Créer un nouveau périphérique</h1>

    {{form_start(form)}}

    <div class="alert alert-light">
        {{form_row(form.id)}}
        {{form_row(form.serial)}}
        {{form_row(form.machine)}}
        {{form_row(form.categorie)}}
        {{form_row(form.etat)}}
    </div>
      
       {{form_widget(form)}}
    

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
    {{form_end(form)}}
</div>
    
{% endblock body %}


